<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NUnit CI Builds (AppVeyor)" value="https://ci.appveyor.com/nuget/nunit" />
    <add key="dotnet-test-nunit CI Builds (AppVeyor)" value="https://ci.appveyor.com/nuget/dotnet-test-nunit" />
    <add key="icunet" value="https://www.myget.org/F/icu-dotnet/api/v3/index.json" />
    <add key="myget.org dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/" />
    <add key="dotnet-cat" value="https://www.myget.org/F/dotnetcat/api/v3/index.json" />
    <add key="nugetorg" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>